#booking_modal_button{"data-shuttle-id" => @shuttle.id }

= bootstrap_form_for([@shuttle, @booking]) do |f|
  =f.hidden_field :added_by_admin, :value => true
  =render :partial => 'form', :locals => {:form => f}
  .form-group.center
    = f.submit 'Save', class: 'button btn btn-primary'