= link_to 'Back to tours', tours_path, class: 'btn btn-info'
:javascript
  $(function() {
    $( "#tour_start_date" ).datepicker();
  });
.container
  .row
    .col-md-3
      %h2 Add New Tour
      = bootstrap_form_for(@tour) do |f|
        = render :partial => 'form', :locals => {:form => f }
        = f.submit 'Add this tour', class: 'btn btn-success'


