= link_to 'Logout', logout_path, class: 'btn btn-danger'
:javascript
  $(function() {
    $( "#tour_start_date" ).datepicker();
  });
.container
  .row
    .col-md-3
      %h2 Add a new tour
      = bootstrap_form_for(@tour) do |f|
        = render :partial => 'form', :locals => {:form => f }
        = f.submit 'Add this tour', class: 'btn btn-success'
        
        
