/*
 *= require bootstrap
 *= require datepicker
 *= require express
 *= require_self
 //= require rails_bootstrap_forms
 */
@import 'common';
@import 'bookings';


form {
  .items {
    .item { float:left;}
    margin: 10px;

  }

  .spacer {
    height: 15px;
  }

  .add { }
  .remove { float: right; }
}


.admin_container {
  background: white;
  border-radius: 5px;
  list-style-type: none;
  padding: 20px;
  li { margin-bottom: 16px; }
  .admin_row {
    border: 1px solid #ddd;
    margin-top: -1px;
    li {
      display:inline-block;
      width: 300px;
      margin-bottom: 4px;
      margin-top: 4px;
    }

  }
}
