/*
 *= require bootstrap
 *= require datepicker
 *= require_self
 *= require common.css
 *= require bookings.css
 //= require rails_bootstrap_forms
 */


body {
  font-size: 16px;
  color: #333;
  font-weight: 400;
  background: #e9e3cc;
}

h1, h2, h3, h4, h5, h6 {
  color: #000;
  font-weight: 700;
  text-shadow: 1px 1px 1px #5e5d5d;
  margin-top: 0;
}

.alert {
  font-weight: 700;
}

.modal.large .modal-dialog {
  width: 700px;
}

/* heading */
.jumbotron {
  background-color: #ebe9e9;
  margin-bottom: 50px;
  border-bottom: 3px solid #c0bebe;
  -webkit-box-shadow: 0 8px 6px -6px #827f7f;
     -moz-box-shadow: 0 8px 6px -6px #827f7f;
          box-shadow: 0 8px 6px -6px #827f7f;
}

#jumbotron-logo img {
  padding-top: 54px;
}

.col-md-7 {
  padding-left: 0;
}

.heading-right-container {
   position: relative;
   right: -20px;
   margin-top: 10px;
}

#jumbotron-telephone h2 {
  font-size: 40px;
  text-align: center;
}

.nav {
  margin-top: 15px;
  background-color: #e1dedc;
  padding: 15px;
  border-top: 1px solid #d4d1d0;
  border-bottom: 1px solid #d4d1d0;
}

.nav > li > a {
  font-size: 15px;
  padding: 8px 8px;
}

#translate img {
  width: 22px;
  height: 22px;
  margin-bottom: 9px;
}

#translate {
  margin-left: 282px;
}

.medium-text {
  font-size: 24px
}

.larger-text {
  font-size: 28px;
}

.mini-text {
  font-size: 11px;
}

.admin-display-address {
  display: block;
}

/* end */


/* payment errors */
.payment-errors {
  color: #cb203c;
}
/* end */



/* footer */
footer {
  margin-top: 40px;
  border-top: 1px solid #666;
  padding: 10px 0;
}

/* end */


@media(min-width: 1200px) {
   #social-media { float: right; }
 }

/* end */
@media(max-width: 480px) {
  .modal.large .modal-dialog {
    top: 20px !important;
    right: 3%;
    left: 3%;
    width: auto;
    margin: 0; }

  .modal-body {
    padding: 15px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch; }

  .medium-text { font-size: 12px; }

  .larger-text { font-size: 18px; }

  #jumbotron-telephone h2  { font-size: 25px; text-align: left; padding: 0; margin-left: 80px;}

  #translate { margin-left: 40px; }

  #jumbotron-telephone-text {
    margin-left: 20px;
  }

  .heading {
    margin-left: 0;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .medium-text { font-size: 18px; }

  .larger-text { font-size: 27px; }

  .heading { margin-left: 110px; }

  #jumbotron-telephone {
    display: block;
    margin-left: 30px;}

   #jumbotron-telephone h2  { margin-left: 58px; text-align: left; padding: 0;}

   #jumbotron-telephone-text { margin-left: 50px;}

   #translate { margin-left: 170px; }

}

@media (min-width: 992px) and (max-width: 1024px) {
  .medium-text { font-size: 13px; }

  .larger-text { font-size: 22px; }

  .heading { margin-left: 0px; }

  #jumbotron-telephone {
    display: block;
    margin-left: 0px;}

   #jumbotron-telephone h2  { margin-left: 0px; text-align: left; padding: 0;}

   #jumbotron-telephone-text { }

   #translate { margin-left: 150px; }

   .heading-right-container {
      margin-top: 15px;
   }
}


