/*
 *= require bootstrap
 *= require datepicker
 *= require_self
 *= require common.css.scss
 *= require bookings.css.scss
 //= require rails_bootstrap_forms
 */


.modal.large .modal-dialog {
  width: 700px;
}

body {
  font-size: 16px;
  color: #333;
  font-weight: 400;
  background: #e9e3cc;
}

h1, h2, h3, h4, h5, h6 {
  color: #000;
  font-weight: 700;
  text-shadow: 1px 1px 1px #5e5d5d;
  margin-top: 0;
}

.alert {
  font-weight: 700;
}

/* heading */
.jumbotron {
  background-color: #ebe9e9;
  margin-bottom: 50px;
  border-bottom: 3px solid #c0bebe;
  -webkit-box-shadow: 0 8px 6px -6px #827f7f;
     -moz-box-shadow: 0 8px 6px -6px #827f7f;
          box-shadow: 0 8px 6px -6px #827f7f;
}

#jumbotron-telephone h2 {
  font-size: 40px;
  float: right;
}

#jumbotron-telephone-text {
  text-align: right;
}

#jumbotron-logo img {
  padding-top: 42px;
}

.jumbotron {
  background-image: url('car-image.png');
  background-repeat: no-repeat;
  background-position: left 555px center;
}

.col-md-7 {
  padding-left: 0;
}

#translate {
  float: right;
}

.navigation {
  margin-left: 158px;
}

.navigation .btn-lg, .btn-group-lg > .btn {
  padding-bottom: 6px;
  padding-top: 6px;
  margin-right: 20px;
}

.top-nav{
   position: relative;
  /* width: 300px;
   height: 200px;*/
   right: -100px;
}

#translate img {
  margin-top: 9px;
  width: 22px;
  height: 22px;
}

.medium-text {
  font-size: 24px
}

.larger-text {
  font-size: 28px;
}

.mini-text {
  font-size: 11px;
}

/* end */


/* payment errors */
.payment-errors {
  color: #cb203c;
}
/* end */



/* footer */
footer {
  margin-top: 40px;
  border-top: 1px solid #666;
  padding: 10px 0;
}
/* end */


/* media queries */
@media(min-width: 1200px) {
   #social-media { float: right; }
 }
/* end */

@media(max-width: 768px) {
  .medium-text { font-size: 18px; }
  .larger-text { font-size: 27px; }
  .navigation { margin-left: 0px; }

  .navigation .btn-lg, .btn-group-lg > .btn {
    padding-bottom: 6px;
    padding-top: 6px;
    margin-right: 20px; }

  .top-nav {
    float: left;
    margin-left: 70px;}

  #jumbotron-telephone-text {
  text-align: left; }

  #jumbotron-telephone h2 {
  float: left; }

  #jumbotron-telephone {
    display: block;
    margin-left: 30px;}
}


@media(max-width: 480px) {
  .modal.large .modal-dialog {
    top: 20px !important;
    right: 3%;
    left: 3%;
    width: auto;
    margin: 0; }

  .modal-body {
    padding: 15px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch; }

  .medium-text { font-size: 15px; }
  .larger-text { font-size: 25px; }
  #jumbotron-telephone h2  { font-size: 35px;}
  #jumbotron-telephone { float: left;}
  .top-nav{
   position: relative;
  /* width: 300px;
   height: 200px;*/
   left: -30px;
}

}

@media(max-width: 768px) {
  .jumbotron {
  background-position: left 480px center; }
  .top-nav{
   position: relative;
  /* width: 300px;
   height: 200px;*/
   left: -10px;
}
}

