
/* global */
body {
  font-family: 'Arimo', sans-serif, 'Liberation Sans';
}

p {
  line-height: 20px;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
   font-family: 'Arimo', sans-serif, 'Liberation Sans';
}

/* end */

/* common classes */
.margin-bottom {
  margin-bottom: 25px;
}

.margin-top {
  margin-top: 15px;
}

.no-padding {
  padding: 0;
}

.small-text {
  font-size: 12px;
}

.strong-text {
  font-weight: 700;
}

.black-border {
  border-bottom: 1px solid #000000;
}

.square-heading {
  display:block;
    clear:right;
    float:left;
    padding: 3.5%;
    width:auto;
    height:auto;
    background:#e1e1e1;
    text-align:center;
    margin: 0;
}

.rounded-heading {
    display:block;
    clear:right;
    float:left;
    padding: 3.5%;
    width:auto;
    height:auto;
    border-radius:10%;
    -moz-border-radius:10%;
    -webkit-border-radius:10%;
    -khtml-border-radius: 10%;
    background:#eee;
    text-align:center;
    margin: 0;
}

.visible-xs, .visible-md {
  font-size: 20px;
  font-weight: bold;
  color: #870d24;
}

.grey-bg {
  background: #e1e1e1;
}
/* end */


/* carousel */
.carousel-control.right {
  background-image: none;
}
.carousel-control.left {
  background-image: none;
}

.carousel-inner {
  border-radius: 3%;
}
/* end */


/* about us */
.about-us {
  margin-bottom: 55px;
}

.about-us-text {
  margin-top: 32px;
}

.about-us-text h2 {
  color: #870d24;
  font-size: 40px;
}

.about-us-text p {
  font-size: 25px;
  line-height: 24px;
}

.about-us-text small {
  font-size: 15px;
}

.about-us ul li:before {
   content: "\2022";
   font-size: 24px;
   padding-right: 10px;
}

.about-us li {
  font-size: 40px;
}
/* end */


/* schedule table */
table {
  width: 100%;
  border-collapse: collapse;
  background: #d9d2b5;
  margin-bottom: 25px;
}

th h2 {
  color: #870d24;
  font-size: 34px;
  margin: 0;
}

.schedule-listing h3 {
  font-size: 38px;
}

.schedule-listing h4 {
  font-size: 30px;
  padding: 0;
  margin: 0;
  font-style: italic
}

.schedule-listing h5 {
  font-size: 27px;
  margin: 0;
}

.long-arrow-bg img {
  margin-top: -30px;
  margin-left: 255px;
  float: left;
  position: absolute;
}

.short-arrow-bg img {
  margin-top: -30px;
  margin-left: -39px;
  float: right;
  position: absolute;
}

.long-arrow-bg2 img {
  margin-top: -30px;
  margin-left: -170px;
  float: left;
  position: absolute;
}

.short-arrow-bg2 img {
  margin-top: -30px;
  margin-left: 182px;
  float: right;
  position: absolute;
}

td, th {
  padding: 6px;
}

.shuttle-notice {
  float: right;
}
/* end */


/* shuttle details*/
.shuttle-details h3 {
  font-size: 31px;
}

.shuttle-details .row {
  padding-bottom: 10px;
  border-bottom: 1px solid #666;
}
/* end */

/* pricing */
#pricing-reservations-telephone {
    display:inline-block;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    padding-left: 3.5%;
    padding-right: 3.5%;
    margin-bottom: 8px;
    width:auto;
    border-radius:10%;
    -moz-border-radius:10%;
    -webkit-border-radius:10%;
    -khtml-border-radius: 10%;
    background:#d1caac;
    text-align:center;
    font-size: 24px;
    font-weight: 700;
    color: #870820;
}

.pricing-reservations-large-price, .pricing-reservations-large-price-one-way {
    display:inline-block;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    padding-left: 3.5%;
    padding-right: 3.5%;
    margin-bottom: 8px;
    width:auto;
    border-radius:10%;
    -moz-border-radius:10%;
    -webkit-border-radius:10%;
    -khtml-border-radius: 10%;
    background:#d1caac;
    text-align:center;
    font-size: 24px;
    font-weight: 700;
    color: #870820;
    text-shadow: 1px 1px 1px #5e5d5d;
}

.pricing-reservations-large-price-one-way {
  margin-left: 8px;
}
/* end */


/*
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    position: relative;
  }
}

h4.modal-title {
  font-size: 25px;
}

/* responsive part */
@media (min-width: 768px) and (max-width: 979px) {
  .about-us-text { margin-left: 20px; }
  .about-us-text h2 { font-size: 38px; }
  .about-us-text p { font-size: 22px; }
  .about-us-text small { font-size: 15px; }
  .medium-text { font-size: 18px }
  .larger-text { font-size: 27px; }
  .shuttle-details { padding-top: 50px; }
  .schedule-listing p { text-align: center;}
  .tour-details { margin-top: 10px; }
  .shuttle-notice { float:none;}
}

@media(min-width: 1200px) {
  .shuttles-information { text-align: left; }
   #license-info { float: right; }
  .shuttle-details { padding-top: 0; }
  .shuttles-time-padding-top { padding-top: 0px; }

}

@media(max-width: 480px) {
  #fix-for-iphone { font-size: 26px; }
  .about-us li { font-size: 20px; display: block; }
  .about-us-text h2 { font-size: 25px; }
  .about-us-text p { font-size: 20px; }
  .about-us-text { margin-left: 12px; }
}

@media (min-width: 992px) and (max-width: 1024px) {
  .about-us-text h2 { font-size: 33px; }
  .about-us-text p { font-size: 18px; }
  .about-us-text small { font-size: 12px; }
  .about-us-text  { margin-top: 20px; }
  .about-us li { font-size: 30px; }
  .btn, .btn-primary, .btn-lg {
    font-size: 15px;
    padding: 9px;
  }
}


